.racer_table td {
  background-color: white;
  height: 50px;
  width: 50px;
}

.racer_table .active {
  background-color: black;
}

#player1_strip .active {
	background-color: transparent;
	background-image: url(img/p1.png);
}

#player2_strip .active {
	background-color: transparent;
	background-image: url(img/p2.png);
}
